spring:
  groovy:
    template:
      check-template-location: false

logging:
  config: {{ application.directory.config }}/logback.groovy

zuul:
  host:
    connect-timeout-millis: {{ zuul.host.connect_timeout_millis | default(30000) }}
    socket-timeout-millis: {{ zuul.host.socket_timeout_millis | default(30000) }}
  routes:
    geomagnetic:
      path: /geomagnetic/**
      stripPrefix: true

geomagnetic:
    ribbon:
        ReadTimeout: {{ geomagnetic.ribbon.read_timeout | default(30000) }}
        ConnectTimeout: {{ geomagnetic.ribbon.connect_timeout | default(30000) }}
        ServerListRefreshInterval: {{ geomagnetic.ribbon.server_list_refresh_interval | default(60000) }}
        KubernetesNamespace: {{ namespace }}