spring:
  groovy:
    template:
      check-template-location: false

logging:
  config: {{ application.directory.config }}/logback.groovy

zuul:
  ignored-patterns: /{{ application.name }}/**
  host:
    connect-timeout-millis: {{ zuul.host.connect_timeout_millis | default(15000) }}
    socket-timeout-millis: {{ zuul.host.socket_timeout_millis | default(15000) }}
  routes:
    geomagnetic:
      path: /geomagnetic/**
      stripPrefix: true

ribbon:
  ReadTimeout: {{ ribbon.read_timeout | default(15000) }}
  ConnectTimeout: {{ ribbon.connect_timeout | default(15000) }}
  eureka:
    enabled: false