spring:
  application:
    name: {{ application.name }}

server:
  port: {{ application.web_port }}

management:
  server:
    port: {{ application.service_port }}
  endpoints:
    web:
      exposure:
        include:
          - health
          - prometheus